{%- comment -%}
  renders before/after on section templates
  usage
    {%- render 'featured-banner', block: block, index: forloop.index -%}
{%- endcomment -%}
{%- liquid
  capture image_alt
    if block.settings.image != blank
      if block.settings.image.alt != blank
        echo block.settings.image.alt
        else
          echo 'sections.featured_banner.image_alt' | t: index: forloop.index
      endif
    endif
  endcapture
-%}
<article class="featured-banner">
  <div class="featured-banner_image {{  banner_media_height }}">
    {%- if block.settings.image != blank -%}
      {{- block.settings.image | image_url: width: 708 | image_tag: width: 177, class: 'object-fit object-fit--absolute', loading: 'lazy', widths: '177, 354, 531, 708', sizes: '(max-width: 412px) 177w, (max-width: 767px) 354w, 708w', alt: image_alt -}}
      {%- else -%}
        {%- render 'placeholder-svgs', type: 'hero', index: index, class: 'object-fit object-fit--absolute' -%}
    {%- endif -%}
  </div>
  {%- if block.settings.heading != blank -%}
    <div class="featured-banner_wrap --align-left">
      <h3 class="featured-banner_heading mty --fw-semi-bold">
        {{- block.settings.heading -}}
      </h3>
    </div>
  {%- endif -%}
</article>